.Container-fluid {
    border: 2px solid #ffffff;
    border-radius: .5em;
    margin: 1em;
    padding: 1em;
    text-align: left;
    background-color: #fff;
    /* margin-left: 100px; */
  }
  
  .form {
    padding: 1em;
  }
  
  label {
    font-weight: 600;
  }

  a{
    cursor: pointer;
  }

  .background-reg {
    
    background: linear-gradient(0deg, rgba(250, 248, 248, 0.86), rgba(223, 238, 243, 0.86)), url(/public/assets/images/vec3.jpg);
    background-size:contain;
    color: rgb(0, 0, 0);
    overflow: auto;
    position:relative;
    background-position: center;

  }